hr {

  border-width: 60%;
  color: #cccccc;
}

.showcase-1 {
  padding: 32px;
  p {
    font-family: Calibre;
    font-size: 22px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.18;
    letter-spacing: normal;
    padding: 22px 0 22px 0;
  }
  .btn {
    @include webkit;
    &:hover {
      @include webkit;
    }
  }
}

.zigzag {
  padding: 32px;
  p.lg {
    font-size: 32px;
    font-weight: bold;
    font-style: normal;
  }
  p.sm {
    padding: 12px 0 12px 0;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
  }
  .container {
    padding: 24px 0 24px 0;
  }
}

.pad {
  .pdf {
    border-bottom: 1px solid #cccccc;
    border-bottom-width: 50%;
    padding: 0 44px 90px 44px;
    .showcase-2-text {
      padding: 16px;
      font-family: Calibre;
      font-size: 32px;
      font-weight: 600;
      font-style: normal;
    }
    .btn {
      @include webkit;
      &:hover {
        @include webkit;
      }
    }
  }
}

.showcase-2 {
  padding: 32px;

  .padding{
    padding: 24px 0 24px 0;
  }
  .lg {
    padding: 0 20px 0 0;
    font-family: Calibre;
    font-size: 40px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.9;
    letter-spacing: normal;
  }
  .sm {
    padding: 10px 5px 0 20px;
    width: 80%;
    font-family: Calibre;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.9;
    letter-spacing: normal;
    text-align: center;
  }
}

.showcase-3 {
  padding: 32px;
  .container{
    .box {
      background-color: $box-colors;
      height: 256px;
      align: center;
      padding: 10px 0 10px 0;
    }
    h5 {
      padding: 15px 10px 15px 0;
      font-family: Calibre;
      font-size: 18px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.44;
      letter-spacing: normal;
      text-align: left;
    }
  }
}


.showcase-4 {
  padding: 32px;
  background-color: $box-colors-2; 
  .container {
    padding: 5px;
    h1 {
      padding: 15px 40px 15px 0;
      width: 80%;
      font-size: 40px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 0.9;
      letter-spacing: normal;
    }
    h2 {
      font-family: Calibre;
      font-size: 28px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.14;
      letter-spacing: normal;
    }
    h5 {
      font-family: Calibre;
      font-size: 18px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.44;
      letter-spacing: normal;
    }
    .box {
      background-color: darken($box-colors-2, 9.5%);
      height: 300px;
    }
    .box-1 {
      height: 253.3px;
      background-color: darken($box-colors-2, 20%);
    }
  }
  .showcase-5 {
    .btn-link {
      padding: 10px 0 10px 0;
      color: $text-hover;
      border-radius: 5px;
      font-size: 24px;
      font-weight: 600;
      @include webkit;
      &:hover {
        text-decoration: none;
        font-weight: 600;
        color: darken($text-hover, 9.5%);
        border-radius: 5px;
        @include webkit;
      }
    }
    .padding {
      padding: 10px 15px 10px 15px;
    }
  }
}

.showcase-6 {
  padding: 32px;
  .container{
    padding: 32px 32px 88px 32px;
    border-bottom: 1px solid #4d4d4d;
    h1 {
      width: 75%;
      font-family: Calibre;
      font-size: 28px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.14;
      letter-spacing: normal;
      text-align: center;
    }
    .button {
      padding: 15px;
    }
    .btn {
      @include webkit;
      &:hover {
        @include webkit;
      }
    }
  }
}