@mixin webkit{
  -webkit-transition: all 300ms ease-in-out;
     -moz-transition: all 300ms ease-in-out;
      -ms-transition: all 300ms ease-in-out;
       -o-transition: all 300ms ease-in-out;
          transition: all 300ms ease-in-out;
} 

.navbar{
  .navbar-brand {
    @include webkit;
    font-weight: 900;
    font-size: 48px;
    color: $text-hover;
    &:hover{
      color: darken($text-hover, 9.5%);
      @include webkit;
    }
  }
  margin-bottom:0;
  ul.nav {
    li>a {
      @include webkit;

      &:hover {
        color: darken($text-hover, 9.5%);
        @include webkit;
      }
    }
  }

  .fa{
    font-size:18px;
  }
}


/****** LOGIN MODAL ******/
.loginmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: calibre;
  a {
    text-decoration: none;
    color: #666;
    font-weight: 400;
    text-align: center;
    display: inline-block;
    opacity: 0.6;
    transition: opacity ease 0.5s;
  }
  h1 {
    text-align: center;
    font-size: 1.8em;
    font-family: calibre;
  }
  input[type=submit] {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    position: relative;
  }
  input[type=text], input[type=password] {
    height: 44px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 10px;
    -webkit-appearance: none;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    /* border-radius: 2px; */
    padding: 0 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
  }
  input[type=text]:hover, input[type=password]:hover {
    border: 1px solid #b9b9b9;
    border-top: 1px solid #a0a0a0;
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  }
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.loginmodal-submit {
  border: 1px solid #3079ed;
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: #4d90fe;
  padding: 17px 0px;
  font-family: calibre;
  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
  &:hover {
    border: 1px solid #2f5bb7;
    border: 0px;
    text-shadow: 0 1px rgba(0,0,0,0.3);
    background-color: #357ae8;
    /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
  }
}
.login-help{
  font-size: 12px;
}

.showcase{

  background-color: $main-colors;
  height: 720px;
  padding: 150px 0 50px 0;

  h1{
    font-size:60px;
    font-weight: 700;
  }

  .container{
    color: #fff;
  }
  .image {
    padding: 0 0 0 10px;
    transform: translate(0, 24px);
  }
  .image-1 {
    padding: 0 10px 0 0;
    transform: translate(0, 24px);
  }
}

.btn {
  .btn-deafult {
    @include webkit;

    &:hover {
      background-color: #fff;
      color: #000;
      @include webkit;
    }
  }
}

@mixin font-text{

  font-family: Calibre;
  font-style: normal;
  font-size: 18px;
  font-weight: normal;
}

.music-box {

  padding: 100px 32px 0 32px;
  margin: auto;
  .text-2 {
    @include font-text;
  }

  .text-3 {
    @include font-text;
  }
}

.music-box-1 {
  padding: 32px;
  margin: auto;
  .text-2 {
    @include font-text;
  }
  .text-3 {
    @include font-text;
  }
}

.listener {
  padding: 32px;
  .container {
    .h1 {
      font-family: Calibre;
      font-size: 42px;
      font-weight: 800;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: normal;
    }
    .h4 {
      font-family: Calibre;
      font-size: 18px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.44;
      letter-spacing: normal;
    }
  }
  .section-a {
    padding: 44px;
    background-color: $box-colors;
    width: 100%;
    height: 576px;
    margin: 44px 0 44px 0;
  }
}

.music-box-4 {
  padding: 32px;
  .line-text-1 {
    font-family: Calibre;
    font-size: 28px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: normal;
  }

  .line-text-2 {
    font-family: Calibre;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.44;
    letter-spacing: normal;
  }
}

.section-b {
  padding: 44px 0;
  .btn-link {
    color: $text-hover;
    border-radius: 5px;
    font-size: 24px;
    font-weight: 600;
    @include webkit;
    &:hover {
      text-decoration: none;
      font-weight: 600;
      color: darken($text-hover, 9.5%);
      border-radius: 5px;
      @include webkit;
    }
  }
}

.product {
  padding: 32px;
  h3 {
    width: 80%;
    font-size: 28px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: normal;
    text-align: left;

  }
  h5 {
    width: 100%;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.44;
    letter-spacing: normal;
    text-align: left;
    padding: 16px 0 16px 0;
  }
  .btn-link {
    padding: 0 0 10px 10px;
    margin-left: -10px;
    color: $text-hover;
    border-radius: 5px;
    font-size: 24px;
    font-weight: 600;
    @include webkit;
    &:hover {
      text-decoration: none;
      font-weight: 600;
      color: darken($text-hover, 9.5%);
      border-radius: 5px;
      @include webkit;
    }
  }
}

.product-1 {
  padding: 32px;
  h3 {
    width: 80%;
    font-size: 28px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: normal;
    text-align: left;

  }
  h5 {
    width: 100%;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.44;
    letter-spacing: normal;
    text-align: left;
    padding: 16px 0 16px 0;
  }
  .btn-link {
    padding: 0 0 10px 10px;
    margin-left: -10px;
    color: $text-hover;
    border-radius: 5px;
    font-size: 24px;
    font-weight: 600;
    @include webkit;
    &:hover {
      text-decoration: none;
      font-weight: 600;
      color: darken($text-hover, 9.5%);
      border-radius: 5px;
      @include webkit;
    }
  }
}

.section {
  background-color: transparent;
  padding: 32px;
  .container {
    padding: 32px;
    background-color: $box-colors;
    height: 264px;
    h2 {
      padding: 0 0 16px 0;
    }
  }
  .btn {
    height: 48px;
    width: 125px;
    @include webkit;
    &:hover {
      @include webkit;
    }
  }
}

.section-1 { 
  padding: 32px;
  background-color: darken($box-colors, 6.5%);
  @mixin box-lg {
    height: 300px;
    width: 300px;
    background-color: $box-colors;
  }
  @mixin box-sm {
    height: 80px;
    width: 80px;
    background-color: darken($box-colors, 15%);
  }
  .container {
    padding: 24px;
    .lg-box-1 {
      @include box-lg;
    }
    .sm-box-1 {
      @include box-sm;
      transform: translate(-16px, -16px);
    }
    .sm-box-2 {
      @include box-sm;
      transform: translate(244px, 60px);
    }
    .sm-box-3 {
      @include box-sm;
      transform: translate(44px, 80px);
    }
    .lg-box-2 {
      @include box-lg;
    }
    .sm-box-4 {
      @include box-sm;
      transform: translate(236px, -16px);
    }
    .sm-box-5 {
      @include box-sm;
      transform: translate(-16px, 60px);
    }
    .sm-box-6 {
      @include box-sm;
      transform: translate(184px, 80px);
    }
    h1 {
      padding: 24px 0 24px 0;
      width: 256px;
      font-family: GTPressuraTi;
      font-size: 48px;
      font-weight: bold;
      font-stretch: normal;
      line-height: 0.9;
      letter-spacing: normal;
      text-align: left;
    }
    h5 {
      padding: 0 0 24px 0;
      width: 256px;
      font-family: Calibre;
      font-size: 20px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.6;
      letter-spacing: normal;
      text-align: left;
    }
    .btn-link {
      padding: 0 24px 24px 0;
      color: $text-hover;
      border-radius: 5px;
      font-size: 24px;
      font-weight: 600;
      @include webkit;
      &:hover {
        text-decoration: none;
        font-weight: 600;
        color: darken($text-hover, 9.5%);
        border-radius: 5px;
        @include webkit;
      }
    }
  }
  .btn {
    height: 48px;
    width: 125px;
    @include webkit;
    &:hover {
      @include webkit;
    }
  }
}

.section-2 {
  padding: 32px;
  p {
    padding: 84px 32px 64px 32px;
    font-family: GTPressuraTi;
    font-size: 40px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.9;
    letter-spacing: normal;
    text-align: left;
    width: 256px;
    height: 72px;
  }
  .container-button{
    padding: 44px 32px 44px 32px;
  }
  .btn {
    height: 48px;
    width: 125px;
    @include webkit;
    &:hover {
      @include webkit;
    }
  }
  .container-1 {
    height: 320px;
    width: 100%;
  }
}

.download {
  padding: 32px;
  background-color: $box-colors-2;
  .container {
    p {
      font-family: Calibre;
      font-size: 28px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.14;
      letter-spacing: normal;
      text-align: left;
      padding: 16px;
    }
    .download-button{
      padding: 10px 32px 10px 32px;
      .btn {
        @include webkit;
        &:hover {
          @include webkit;
        }
      }
    }
  }
}






























































.full {
    width: 100%;    
}
.gap {
  height: 30px;
  width: 100%;
  clear: both;
  display: block;
}
.footer {
  background: #d9d9d9;
  height: auto;
  padding: 32px;
  position: relative;
  width: 100%;
  border-bottom: 1px solid #4d4d4d;
  border-top: 1px solid #4d4d4d;

}
.footer p {
  margin: 0;
}
.footer img {
  max-width: 100%;
}
.footer h3 {
  border-bottom: 1px solid #BAC1C8;
  color: darken($text-hover, 20%);
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  padding: 40px 0 10px;
  text-transform: uppercase;
}
.footer ul {
  font-size: 13px;
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  margin-top: 15px;
  color: #000;
}
.footer ul li a {
  padding: 0 0 5px 0;
  display: block;
  text-decoration: none;
}
.footer a {
  color: $main-colors;
  text-decoration: none;
  @include webkit;
  font-size: 17px;
  font-weight: 500;

  &:hover {
    color: $text-hover;
    @include webkit;
  }
}
.supportLi h4 {
  font-size: 20px;
  font-weight: lighter;
  line-height: normal;
  margin-bottom: 0 !important;
  padding-bottom: 0;
}
.newsletter-box input#appendedInputButton {
  background: #FFFFFF;
  display: inline-block;
  float: left;
  height: 30px;
  clear: both;
  width: 100%;
}
.newsletter-box .btn {
  border: medium none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
  height: 40px;
  padding: 0;
  width: 100%;
  color: #fff;
}
.newsletter-box {
  overflow: hidden;
}
.bg-gray {
  background-image: -moz-linear-gradient(center bottom, #BBBBBB 0%, #F0F0F0 100%);
  box-shadow: 0 1px 0 #B4B3B3;
}
.social li {
  background: none repeat scroll 0 0 #B5B5B5;
  border: 2px solid #B5B5B5;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  float: left;
  height: 36px;
  line-height: 36px;
  margin: 0 8px 0 0;
  padding: 0;
  text-align: center;
  width: 36px;
  transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
}
.social li:hover {
  transform: scale(1.15) rotate(360deg);
  -webkit-transform: scale(1.1) rotate(360deg);
  -moz-transform: scale(1.1) rotate(360deg);
  -ms-transform: scale(1.1) rotate(360deg);
  -o-transform: scale(1.1) rotate(360deg);
}
.social li a {
  color: #EDEFF1;
}
.social li:hover {
  border: 2px solid #d9d9d9;
  background: #d9d9d9;
}
.social li a i {
  font-size: 16px;
  margin: 0 0 0 5px;
  color: #EDEFF1 !important;
}
.footer-bottom {
  padding: 32px;
  background: #d9d9d9;
  border-top: 1px solid #DDDDDD;

  .list-inline {
    padding: 21px 0 0 0;
    a {

      color: $main-colors;
      @include webkit;
      padding: 0 0 0 5px;
      text-decoration: none;
      font-weight: 700;
      
      &:hover {
        color: $text-hover;
        @include webkit;
      }
    }

  }
}
.footer-bottom p.pull-left {
  padding: 20px 6px 0 0;
  font-weight: 500;
  font-size: 15px;

}
.payments {
  font-size: 1.5em;
  padding: 0 0 0 5px;

  li.padding-fa {

    padding: 0 0 0 10px;
    margin-bottom: 15px;
  }
}

.logo-padding {

  padding: 80px 0 0 0;
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
          &:hover {
            -webkit-filter: grayscale(100%);
          }
}

/*Change icons circle size and color here*/
.social-icons .fa {
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  color: #FFF;
  color: rgba(255, 255, 255, 0.9);
  -webkit-transition: all 0.3s ease-in-out;
     -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
       -o-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
}

.social-icons.icon-circle .fa{ 
  border-radius: 50%;
}
.social-icons.icon-rounded .fa{

  border-radius: 5px;
}
.social-icons.icon-flat .fa{
  border-radius: 0;
}

.social-icons .fa:hover, .social-icons .fa:active {
  color: #FFF;
}
.social-icons.icon-zoom .fa:hover, .social-icons.icon-zoom .fa:active { 

  -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
       -o-transform: scale(1.1);
          transform: scale(1.1);
}
.social-icons.icon-rotate .fa:hover, .social-icons.icon-rotate .fa:active { 
  -webkit-transform: scale(1.5) rotate(360deg);
     -moz-transform: scale(1.5) rotate(360deg);
      -ms-transform: scale(1.5) rotate(360deg);
       -o-transform: scale(1.5) rotate(360deg);
          transform: scale(1.5) rotate(360deg);
}
 
.social-icons .fa-adn{background-color:#504e54;} 
.social-icons .fa-apple{background-color:#aeb5c5;} 
.social-icons .fa-android{background-color:#A5C63B;}  
.social-icons .fa-bitbucket,.social-icons .fa-bitbucket-square{background-color:#003366;} 
.social-icons .fa-bitcoin,.social-icons .fa-btc{background-color:#F7931A;} 
.social-icons .fa-css3{background-color:#1572B7;} 
.social-icons .fa-dribbble{background-color:#F46899;}  
.social-icons .fa-dropbox{background-color:#018BD3;}
.social-icons .fa-facebook,.social-icons .fa-facebook-square{background-color:#3C599F;}  
.social-icons .fa-flickr{background-color:#FF0084;}
.social-icons .fa-foursquare{background-color:#0086BE;}
.social-icons .fa-github,.social-icons .fa-github-alt,.social-icons .fa-github-square{background-color:#070709;} 
.social-icons .fa-google-plus,.social-icons .fa-google-plus-square{background-color:#CF3D2E;} 
.social-icons .fa-html5{background-color:#E54D26;}
.social-icons .fa-instagram{background-color:#A1755C;}
.social-icons .fa-linkedin,.social-icons .fa-linkedin-square{background-color:#0085AE;} 
.social-icons .fa-linux{background-color:#FBC002;color:#333;}
.social-icons .fa-maxcdn{background-color:#F6AE1C;}
.social-icons .fa-pagelines{background-color:#241E20;color:#3984EA;}
.social-icons .fa-pinterest,.social-icons .fa-pinterest-square{background-color:#CC2127;} 
.social-icons .fa-renren{background-color:#025DAC;}
.social-icons .fa-skype{background-color:#01AEF2;}
.social-icons .fa-stack-exchange{background-color:#245590;}
.social-icons .fa-stack-overflow{background-color:#FF7300;}
.social-icons .fa-trello{background-color:#265A7F;}
.social-icons .fa-tumblr,.social-icons .fa-tumblr-square{background-color:#314E6C;} 
.social-icons .fa-twitter,.social-icons .fa-twitter-square{background-color:#32CCFE;} 
.social-icons .fa-vimeo-square{background-color:#229ACC;}
.social-icons .fa-vk{background-color:#375474;}
.social-icons .fa-weibo{background-color:#D72B2B;}
.social-icons .fa-windows{background-color:#12B6F3;}
.social-icons .fa-xing,.social-icons .fa-xing-square{background-color:#00555C;} 
.social-icons .fa-youtube,.social-icons .fa-youtube-play,.social-icons .fa-youtube-square{background-color:#C52F30;}

